{% if page.handle == 'about' %}
  {% render 'page-about' %}
{% elsif page.handle == 'contact' %}
  {% render 'page-contact' %}
{% else %}
  <div class="page-hero">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <div class="container page-content">
    <div class="rte">{{ page.content }}</div>
  </div>
{% endif %}
