<section class="zy-page">
  <h1 class="zy-page-title">{{ collection.title }}</h1>
  {% if collection.description != blank %}
    <p class="zy-page-subtitle">{{ collection.description }}</p>
  {% endif %}

  {% section 'product-grid' %}
</section>
