{% section 'hero' %}

<section class="zy-home-layout">
  <div class="zy-home-main">
    {% section 'featured-posts' %}
  </div>
  <div class="zy-home-sidebar">
    {% section 'updates-sidebar' %}
  </div>
</section>

<section class="zy-home-products">
  {% assign all_collection = collections['all'] %}
  {% if all_collection %}
    {% section 'product-grid' with all_collection %}
  {% endif %}
</section>
